---
layout: default
title: Amenities
meta_description: Enjoy the latest in state-of-the-art amenities and unparalleled service during your stay with us in San Francisco’s Nob Hill, where Hi-Tech meets High-Comfort
permalink: /amenities/
meta_tags:
  robots:
---

<!-- Amenities banner start here -->
<section class="inner-banner background-cover" style="background-image: url('/assets/images/amenities/hero.jpg');">
  <!-- <div class="banner-text">
    {% regionblock amenities-title, type: header %}
      <h1>Amenities</h1>
    {% endregionblock %}
  </div> -->
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
</section>

<!--Obsessed with  the best of SF start here -->
<section class="content-wrapper mt-8" id="scroll-to">
  <div class="content-wrapper-inner m-0">
    <div class="content no-padding">
      <div class="text">
      {% regionblock amenities_title, type: header %}
        <h3>OBSESSED WITH THE BEST OF SF </h3>
      {% endregionblock %}

      <div class="scroll">
        <div class="scroll-inner">

          {% regionblock amenities_list, type: text %}
            <ul>
              <li>Expanded, state of the art fitness center</li>
              <li>Morning beverage service including local Equator coffee and Mighty leaf tea</li>
              <li>Super-Fast Wi-Fi – unlimited device connections</li>
              <li>PressReader* digital magazines and newspapers</li>
              <li>Public iMac Computers</li>
              <li>Free printing and faxing</li>
              <li>Tech Library Loans</li>
              <li>Google Chromecast ready rooms</li>
              <li>Vehicle charging station</li>
              <li>Valet parking</li>
              <li>24-hour front desk</li>
              <li>Concierge</li>
              <li>Multilingual staff</li>
              <li>ATM on site</li>
              <li>Complimentary Local & domestic long distance calls</li>
              <li>Laundry/dry cleaning</li>
              <li>Eat & Drink at Seven Stills Nob Hill</li>
            </ul>
          {% endregionblock %}
        </div>
      </div>
      <div class="extr-text">
        {% regionblock subject_tax, type: text %}
          <p>A $25 nightly urban fee covers Stanford Court hotel’s extensive amenities. This fee is subject to San Francisco occupancy tax.<br><br>*Download app to enjoy.</p>
        {% endregionblock %}
    </div>
    </div>
  </div>
    <div class="image full background-cover" style="background-image: url('/assets/images/amenities/intro.jpg');"></div>
  </div>
</section>

<!--Amenities Carousel start here -->
<section class="discover-sec content-wrapper pt-0">
  <div id="discoverCarousel" class="carousel slide" data-ride="carousel">
    {% assign amenities-slide = site.data._models.amenities sort: 'order'%}
    <div class="carousel-inner">
      {% for amenitie in amenities-slide %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="carousel-block m-0">
          <div class="image background-cover" style="background-image: url('{{ amenitie.image.url_medium }}');">
          </div>
          <div class="carousel-caption">
            <h3>{{amenitie.title}}</h3>
            {{amenitie.description}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-inner indicators bottom-zeor">
      <div class="carousel-block m-0">
        <div class="image"></div>
        <div class="carousel-caption">
          <ol class="carousel-indicators">
            {% for amenitie in amenities-slide %}
            <li data-target="#discoverCarousel" data-slide-to="{{forloop.index0}}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!--SF Pet Frendly Hotel start here -->
<section class="hotel-amenities-wrap background-cover" >
  <div class="hotel-amenities-inner">
    <div class="hotel-amenities-row m-0 d-flex align-items-center">
      <div class="text d-none d-lg-block">
        {% regionblock hotel_amenities_head_01, type: header %}
          <h3 class="txt-white">Perfect Place To<br> Enjoy A Stay <br> With Your Pet </h3>
        {% endregionblock %}
      </div>
      <div class="images p-0">
        <div class="images-inner m-0">
          <div class="two background-cover" style="background-image: url('/assets/images/hotel/pets.jpg');"></div>
          <div class="one background-cover" style="background-image: url('/assets/images/hotel/pets3.jpg');"></div>
        </div>
      </div>
    </div>
    <div class="hotel-amenities-row m-0 d-flex align-items-center">
      <div class="images p-0 d-none d-lg-block">
        <div class="images-inner m-0">
          <div class="full background-cover" style="background-image: url('/assets/images/hotel/pets-with-bed.jpg');"></div>
        </div>
      </div>
      <div class="text">
        {% regionblock hotel_amenities_head, type: header %}
          <h3 class="txt-white d-lg-none d-block">Perfect Place To Enjoy A Stay With Your Pet </h3>
        {% endregionblock %}
        {% regionblock hotel_amenities_text, type: text %}
          <p>Intuitive and thought provoking, our SmArtGallery technology delivers an interactive user experience. Swipe to learn more about the pieces that resonate with you most, or take control of the screen via our tablet kiosks. You don’t even have to leave your he(art) in San Francisco. Simply select, order, and send artwork home with a couple clicks.</p>
        {% endregionblock %}
      </div>
    </div>
    <div class="tag-line-text d-none d-lg-block">
      {% regionblock v_line_text, type: text %}
        <p>SF Pet Frendly Hotel</p>
      {% endregionblock %}
    </div>
  </div>
</section>
