---
layout: default
title: Gallery
meta_description:
permalink: /gallery/
meta_tags:
  robots:
---

<div class="inner-banner without-text background-cover" style="background-image: url('/assets/images/amenities/hero.jpg');">
</div>

{% assign categories = site.data._galleries %}
<section class="inner-nav mb-5">
  <a href="javascript:;" class="filter active" data-filter="all" data-rel="all">All</a>
  {% for category in categories %} {% assign catname = category[0] %}
  <a href="javascript:;" class="filter" data-rel="{{catname}}">{{ site.data._galleries[catname].name }}</a>
    {% endfor %}
</section>

<section class="gallery-bg">
<div class="gallery-listing mb-100" data-offergallery="true">
	<div class="card-columns">
		 {% for category in categories %}
		    {% assign catname = category[0] %}
		  	  {% for photo in site.data._galleries[catname].photos %}
		  	   <div class="card item fancybox" data-filter="{{catname}}" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}">
		    	<img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url_medium }}{% endif %}" class="img-fluid" alt="{{photo.alt}}">
		  	   </div>
		  	{% endfor %}
		{% endfor %}
	</div>
</div>
</section>
