---
layout: default
title: Gallery | Stanford Court Hotel in San Francisco
meta_description: Take a look around the boutique Stanford Court hotel in San Francisco
  before booking your stay. Take a look at the Stanford Court photo gallery here.
permalink: "/gallery/"
meta_tags:
  robots: 
published_localized:
  en: true
title_localized:
  en: Boutique Hotels in San Francisco | Photos of Stanford Court
meta_description_localized:
  en: Take a look around our newly redesigned rooms - the perfect blend of edgy expression
    and creature comforts, or look at the view across San Francisco here at Stanford
    Court hotel on Nob Hill.
layout_localized:
  en: default
label: Gallery
permalink_localized:
  en: "/gallery/"

---

<!-- Banner start here -->
<div class="inner-banner full background-cover  mb-5" style="background-image: url('/assets/images/gallery/hero.jpg');">
  {% assign categories = site.data._galleries %}

  <!-- gallery category start here -->
  <div class="inner-nav fixed-menu">
    <p class="select-room">Select Gallery Category</p>
    <ul>
      <li>
        <a href="javascript:;" class="filter active" data-filter="all" data-rel="all">All</a>
        {% for category in categories %}
        {% assign catname = category[0] %}
        <a href="javascript:;" class="filter" data-rel="{{catname}}">{{ site.data._galleries[catname].name }}</a>
        {% endfor %}
      <li>
    </ul>
  </div>
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
  </div>

  <!-- gallery list start here -->
  <section class="gallery-bg" id="scroll-to">
    <div class="gallery-listing mb-100" data-offergallery="true">
      <div class="card-columns">
        {% for category in categories %}
        {% assign catname = category[0] %}
        {% for photo in site.data._galleries[catname].photos %}

        <!-- gallery images start here -->
        {% if catname != "video" %}
        <div class="card item fancybox" data-filter="{{catname}}" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}">
          <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url_medium }}{% endif %}" class="img-fluid" alt="{{ photo.alt }}">
          <div class="overlay">
            <h4>{{ photo.alt }}</h4>
          </div>
        </div>
        {% else %}

        <!-- gallery video start here -->
        <div class="card item fancybox" data-filter="{{catname}}" data-html="#video{{forloop.index}}">
          <div style="display:none;" id="video{{forloop.index}}">
            <video class="lg-video-object lg-html5" autoplay muted controls >
              <source src="{{photo.url}}" type="video/mp4" >
            </video>
          </div>
          <img src="/assets/images/gallery/video.jpg" class="img-fluid" alt="{{ photo.alt }}">
          <div class="overlay">
            <h4>{{ photo.alt }}</h4>
          </div>
          <div class="play-icon"><i class="far fa-play-circle"></i></div>
        </div>
        {% endif %}
        {% assign mod = forloop.index | modulo: 3 %}
        {% if mod == 2 %}
        <div class="card item hidden fancybox rez-offer" data-filter="{{catname}}" data-sub-html="" data-src=""> </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
