---
layout: default
permalink: "/neighborhood/"
meta_tags:
  robots:
published_localized:
  en: true
title_localized:
  en: Nob Hill Neighborhood San Francisco | Stanford Court
meta_description_localized:
  en: Stanford Court is conveniently located atop historic Nob Hill, just steps from Union Square and within walking distance to many of San Francisco’s attractions.
layout_localized:
  en: default
label: Neighborhood
permalink_localized:
  en: "/neighborhood/"

---

<!--Neighborhood banner start here -->
<div class="inner-banner background-cover" style="background-image: url('/assets/images/neighborhood/hero.jpg');">
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
</div>

<!--Intro start here -->
<section class="inner-intro" id="scroll-to">
  <div class="inner-intro-row m-0">
    <div class="heading">
      {% regionblock intro_section_sub_title, type: header %}
        <h4>San Fransisco</h4>
      {% endregionblock %}
      {% regionblock intro_section_title, type: header %}
        <h3>The Perfect Location</h3>
      {% endregionblock %}
    </div>
    <div class="content">
      {% regionblock intro_section_text, type: text %}
        <p>It’s cool. We’ll point you in the right direction. Stanford Court overlooks the city from Nob Hill, one of San Francisco’s most sought-after neighborhoods. It’s a great spot with some spectacular views, all just blocks away from Union Square. Whether you’re headed to the Financial District, looking for the best dim sum in Chinatown, or meeting up at the Moscone center, everything you need is easily within walking distance.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<!--Location Map start here -->
<div class="map d-none d-md-block" id="leaflet-map"  data-attractions="show"></div>

<!--Local attractions start here -->
<section class="local-attractions">
  {% assign neighborhood = site.data._models.map-locations | sort: 'order' %}
  <div id="attractionsCarousel" data-interval="false" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for attraction in neighborhood %}
        <div data-mappable-item="{{ forloop.index0 }}" data-mappable-category ="{{ attraction.category }}"  class="carousel-item {% if forloop.first %}active{% endif %} background-cover" role="option">
          <div class="attractions-wrapper">
            <div class="details pt-5">
              <div class="attraction-info">
                <h4 class="d-block d-md-none">Local attractions</h4>
                <h3>{{ attraction.title }}</h3>
                <h4>{{ attraction.address }}
                  <span>{{ attraction.distance }}</span>
                </h4> {{ attraction.details }}
                <div>
                  <a class="primary-btn" href="{{attraction.url}}" target="_blank">Website</a>
                </div>
              </div>
            </div>
            <div class="image-slider  background-cover" style="background-image:url('{{ attraction.image.url_medium }}'); "></div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="local-attractions-row">
      <div class="nav-controls">
        <div class="carousel-nav white">
          <a class="carousel-control-prev" href="#attractionsCarousel" data-slide="prev" >
            <i class="fas fa-caret-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#attractionsCarousel" data-slide="next">
            <i class="fas fa-caret-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Intro start here -->
<section class="inner-intro mt-5 mb-0">
  <div class="inner-intro-row m-0" id="attractions">
    <div class="heading">
      {% regionblock attractions_title, type: header %}
        <h3>Attractions</h3>
      {% endregionblock %}
    </div>
    <div class="content">
      {% regionblock attractions_text, type: text %}
        <p>The stunning Grace Cathedral—most notable for its front doors, which are replicas of the Baptistry of Florence Cathedral’s "Gates of Paradise” by master artist Lorenzo Ghiberti—and Dragon’s Gate, the entrance to Chinatown, are just a couple blocks away. Head towards Union Square, and you’ll find the recently expanded Museum of Modern Art (SFMoMA), and the cable cars (Insider’s tip: board in Fisherman’s Wharf instead of downtown for shorter waits). Some other local favorites: lunch at the Ferry building, packing for a picnic at Mission Dolores Park, shopping on Fillmore Street, and long walks in the lush Presidio.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<!-- Attractions list start here -->
<section class="attractions-listing mt-8">
  <div class="attractions-listing-row m-0">
    {% assign attractions = site.data._models.attractions | sort: 'sort_order' %}
    {% for attraction in attractions %}
    <div class="attraction-block">
      <a href="/attractions/{{ attraction.url_friendly_name }}/" title="{{ attraction.title }}">
        <div class="image background-cover d-flex justify-content-center" style="background-image: url('{{ attraction.featured_image.url_medium }}');">
        </div>
      </a>
      <div class="content">
        <h3>{{ attraction.title }}</h3>
        <h4>{{attraction.address }} <span>{{ attraction.time }}</span></h4>
        <p>{{ attraction.description | truncatewords: 20 }}</p>
        <a href="{{ attraction.website}}" target="_blank" class="primary-btn">Visit Website</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Events start here -->
<section class="events-carousel-wrapper mt-0">
  {% regionblock events_header, type: header %}
    <h2>Events</h2>
  {% endregionblock %}
  <div class="events-carousel">
    <div class="events-carousel-inner">
      {% regionblock events_text, type: header %}
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h3>
        {% endregionblock %}
      <div class="text-center">
        <a href="/sf-events/" class="black-btn">See all Events</a>
      </div>
    </div>
  </div>
</section>

{% include special-offers-text.html %}
