---
layout: default
title: Luxury Hotel Rooms in San Francisco | Stanford Court Hotel
meta_description: Our elevated vantage point atop Nob Hill provides exterior rooms with sweeping window views of the picturesque city, so guests truly feel connected at all times
permalink: /rooms/
meta_tags:
  robots:
---

<!-- Rooms banner start here -->
<section class="inner-banner background-cover" style="background-image: url('/assets/images/rooms/hero.jpg');">
  <div class="banner-text">
    {% regionblock rooms_title, type: header %}
    <h1>Comfort</h1>
    {% endregionblock %}
  </div>
</section>

<!-- Rooms intro start here -->
<section class="inner-intro">
  <div class="inner-intro-row m-0">
    <div class="heading">
      {% regionblock rooms_section_sub_title, type: header %}
      <h4>ROOMS & SUITES</h4>
      {% endregionblock %}
      {% regionblock rooms_section_title, type: header %}
      <h3>Hilltop Haven</h3>
      {% endregionblock %}
      {% regionblock rooms_section_link, type: text %}
      <a class="primary-btn-inverse mt-3 mb-3" href="#room-amenities" title="View Hotel Amenities">View Hotel Amenities</a>
      {% endregionblock %}
    </div>
    <div class="content">
      {% regionblock rooms_section_text, type: text %}
      <p>Power down. The perfect spot for modern mavericks and mavens, our stylish accommodations offer residential respite from the supercharged neighborhoods of the city. We’re minimalists—we keep things simple with clean lines and custom-designed
        furniture. Let our elevated vantage point atop Nob Hill serve as the point of view for your next bright idea. Reliable high-speed WiFi and amenities inspired by San Francisco’s progressive tech culture support work and play, Silicon
        Valley-style.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<!-- Rooms List start here -->
{% assign rooms = site.data._models.rooms | sort : "sort_order" %} {% for room in rooms %}
<section id="{{ room.roomtype | replace: " ","-" | downcase  }}" class="background-cover" style="background-image:url({{ room.roombackgroundimage.url }});">
  <div class="room-single">
    <div class="room-row align-items-center">

      <div class="room-image">
        <a href="/room/#{{ room.roomtype | downcase }}" title="{{ room.title }}">
            <figure class="background-cover" style="background-image:url({{ room.roomimage.url }});"></figure>
          </a>
        <div class="overlay">
          <a class="primary-btn-inverse" href="/room/#{{ room.roomtype | replace: " ","-" | downcase  }}">Discover More</a>
        </div>

      </div>

      <div class="room-info">
        <div class="info">
          <a href="/room/#{{ room.roomtype  | replace: " ","-" | downcase   }}">
            <h3>{{ room.title }}</h3>
          </a>
          <a class="primary-btn-inverse" href="/room/#{{ room.roomtype | replace: " ","-" | downcase  }}">Discover More</a>
          <p>{{ room.long_description }}</p>
          <a class="secondary-btn-inverse" href="{{ room.book_this_room }}" target="_blank">Book Room</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

<!-- Rooms features start here -->
<section class="room-features">
  <div class="row m-0">
    <div class="feature-list d-flex justify-content-sm-end">
      <div class="list" id="room-amenities">
        {% regionblock room_features_header, type: header %}
        <h4 class="text-center">unique Room Features</h4>
        {% endregionblock %}
        <ul>
          <li ng-repeat="amenity in hotelInfo.common_room_amenities">[[ amenity ]]</li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="feature-image background-cover" style="background-image:url('/assets/images/rooms/room-features.jpg');"></div>
  </div>
</section>
