---
layout: default
title:
meta_description:
permalink:
meta_tags:
  robots:
---

<div data-resize class="hero-banner background-cover" style="background-image: url('/assets/images/home/hero.jpg');">
</div>

<section class="home-intro">
  <div class="home-intro-inner m-0 d-flex align-items-center">
    <div class="image background-cover" style="background-image: url('/assets/images/home/rectangle.jpg');"></div>
    <div class="content">
      <h4>About us</h4>
      <h3>Welcome to Stanford court</h3>
      <p>At the crest of Nob Hill it’s easy to see what makes
      San Francisco special.  While the views are  amazing,
      it’s the city’s energy, restless spirit of transformation and
      maverick innovation that quickens your heartbeat and
      gets your mind spinning.  Come play (stay) with us.
      </p>
      <a href="/" class="primary-btn">Discover More</a>
    </div>
  </div>
</section>

<section class="home-amenities-wrap background-cover">
  <div class="home-amenities-inner">
    <div class="home-amenities-row m-0 d-flex align-items-center">
      <div class="text d-none d-lg-block">
        <h3 class="txt-white">DO SF LIKE <br>A DENIZEN </h3>
      </div>
      <div class="images p-0 d-none d-lg-block">
        <div class="images-inner m-0">
          <div class="one background-cover" style="background-image: url('/assets/images/home/car.jpg');"></div>
          <div class="two background-cover" style="background-image: url('/assets/images/home/lady.jpg');"></div>
        </div>
      </div>
    </div>
    <div class="home-amenities-row m-0 d-flex align-items-center">
      <div class="images p-0">
        <div class="images-inner m-0">
          <div class="one background-cover" style="background-image: url('/assets/images/home/meditation.jpg');"></div>
          <div class="two background-cover" style="background-image: url('/assets/images/home/tower.jpg');"></div>
        </div>
      </div>
      <div class="text">
        <h3 class="txt-white d-lg-none .d-xl-block">DO SF LIKE A DENIZEN </h3>
        <p>There’s no better place to un-lock the real San Francisco.   Our unique location is the perfect launch pad to experience the real city and all the things that locals like us love to eat, drink, dance and do.   We love to share and can’t wait to help you explore.</p>
        <a href="/" class="primary-btn-inverse">Discover More</a>
      </div>
    </div>
    <div class="tag-line-text d-none d-lg-block">
      <p>A city that honors independence, innovation, and inclusion. innovation, and inclusion.</p>
    </div>
  </div>
</section>

<section class="rooms-wrapper">
  <h2>Rooms</h2>
  <div class="rooms-inner">
    <div class="image-part background-cover" style="background-image: url('/assets/images/home/rooms-img.jpg');">
      <!-- <img src="/assets/images/home/rooms-img.jpg" alt="Room"> -->
      <a href="/rooms/" class="primary-btn">View Rooms</a>
    </div>
    <div class="content">
      <span class="plus-icon">
        <a href="#"><img src="/assets/images/home/plus-icon.png" alt="Add"></a>
      </span>
      <h3 class="">COMFY DOESN’T MEAN CONFINING</h3>
      <p class="txt-white">Our newly redesigned rooms are the perfect blend of edgy
        expression and creature comforts.   The views inspire, the art
        intrigues and the custom furnishings and finishes never let you forget that you’re staying somewhere special.</p>
      <a href="/" class="secondary-btn-inverse">Book Your Room</a>
    </div>
  </div>
</section>

<section class="discover-sec">
  <h2>Discov<br class="d-block d-md-none">er</h2>
    <div id="discoverCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner indicators">
        <div class="carousel-block m-0">
          <div class="image"> </div>
          <div class="carousel-caption">
            <ol class="carousel-indicators">
              <li data-target="#discoverCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#discoverCarousel" data-slide-to="1"></li>
              <li data-target="#discoverCarousel" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-block m-0">
            <div class="image background-cover" style="background-image: url('/assets/images/home/workout.jpg');">
            </div>
            <div class="carousel-caption">
              <h3>Sweat it Out or Sip it Slowly</h3>
              <p>It’s clear you are in San Francisco when you stay at the Stanford Court . The city spirit is imbues every moment from watching the sweet cable car views as you sweat the treadmill to the locally inspired cocktails that keep the conversations flowing in our bar.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-block m-0">
            <div class="image background-cover" style="background-image: url('/assets/images/home/workout.jpg');">
            </div>
            <div class="carousel-caption">
              <h3>Sweat it Out or Sip it Slowly</h3>
              <p>It’s clear you are in San Francisco when you stay at the Stanford Court . The city spirit is imbues every moment from watching the sweet cable car views as you sweat the treadmill to the locally inspired cocktails that keep the conversations flowing in our bar.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-block m-0">
            <div class="image background-cover" style="background-image: url('/assets/images/home/workout.jpg');">
            </div>
            <div class="carousel-caption">
              <h3>Sweat it Out or Sip it Slowly</h3>
              <p>It’s clear you are in San Francisco when you stay at the Stanford Court . The city spirit is imbues every moment from watching the sweet cable car views as you sweat the treadmill to the locally inspired cocktails that keep the conversations flowing in our bar.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

{% include stay-with-us.html%}
{% include special-offers.html%}
{% include gallery-carousel.html%}
{% include blog-section.html%}
