<section class="home-blog">
  <div class="row">
    <div class="col-md-9" style="background:black">
      <div class="row p-5">
        <div class="col-md-8">
        <h3 class="txt-white">The 411<br>on the 415 </h3>
        <p>Looking for the best new place to eat in SoMa?   The hottest little hole-in-the-wall for cocktails in the Mission? Maybe you’ve got a yen for some authentic outer sunset korean barbecue?  Let this be your first stop in your San Francisco journey of discovery. </p>
        </div>
        <div class="col-md-4 text-center">
          <a class="secondary-btn-inverse" href="/blog/">Dscover More</a>
        </div>
      </div>
    </div>
  </div>
</section>
