{% assign links = site.data.navigation.footer %}

<div class="footer-top">
  <div class="footer-top-row m-0">
    <div class="footer-logo">
      <a href="/" title="{{ site.title }}"><img src="/assets/images/footer-logo.png" alt="{{ site.title }}"></a>
    </div>
    <div class="address">
      <p><i class="fas fa-map-marker-alt"></i>
        <a href="https://goo.gl/maps/oBANSwD5X6y" target="_blank">905 California Street, Nob Hill,<br>San Francisco, CA 94108</a></p>
      <i class="fas fa-phone"></i>
      <a href="tel:415 989-3500" title="">415 989-3500</a><br>
      <i class="fas fa-envelope"></i>
      <a href="mailto:info@stanfordcourt.com" title="info@stanfordcourt.com">info@stanfordcourt.com</a>
    </div>
    <div class="links">
      <ul>
        {% for link in links %}
        <li>
          <a href="{{ link.url }}" title="{{ link.name }}">{{ link.title }}</a>
        </li>
        {% endfor %}
        <li><a href="javascript:void(0)" onclick="srfp_widget.show()"  title="Speed RFP">Speed RFP</a></li>
      </ul>
    </div>
    <div class="logos">
      <a href="http://www.condenast.com/" title="Conde Nast" target="_blank" rel="nofollow"><img src="/assets/images/conde-logo-black.png" alt="Conde"></a>
      <a href="https://www.tripadvisor.com/Hotel_Review-g60713-d80747-Reviews-Stanford_Court_San_Francisco-San_Francisco_California.html?m=19905" target="_blank" title="Tripadvisor"> <img src="/assets/images/ta-logo.png" alt="Trip Advisor"></a>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <hr>
  <div class="footer-bottom-row m-0">
    <div class="copytext p-0">
      <p class="big-screen" tabindex="0">&copy; {{ site.title }}. All Rights Reserved {{ site.time | date: '%Y' }} </p>
      <p class="mobile" tabindex="0">&copy; {{ site.time | date: '%Y' }} {{ site.title }} </p>
    </div>
    <div class="ttsign p-0">
      <a href="http://traveltripper.com" rel="nofollow" target="_blank">
        <img src="/assets/images/tt-signature.png" alt="Travel Tripper">
      </a>
    </div>
  </div>
</div>
