<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
<link rel="stylesheet" href="https://use.typekit.net/dzs2pry.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css">
<link rel="stylesheet" type="text/css" href="https://plugins.traveltripper.io/v2/css/booking-widget.css" />
<!--[if IE]>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-ie9.css' | absolute_url }}">
  <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
<![endif]-->
<!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-ie8.css' | absolute_url }}">
<![endif]-->

<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

<meta http-equiv="x-ua-compatible" content="ie=edge">
