<section class="instagram">

  <a class="scroll-to-top back-to-top" title="back to top">Back to Top</a>
  <h3 class="text-center">CONNECT WITH US</h3>
  <div class="instagram-row m-0">
    <div class="social-links">
      <ul>
        <li><a href="https://www.facebook.com/StanfordCourtSF" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/StanfordCourtSF" title="twitter"><i class="fab fa-twitter"></i></a>
          <li><a href="https://plus.google.com/101732238009151670246/" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="https://www.instagram.com/stanfordcourtsf/" title="instagram"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="insta-widget">
      <div class="insta-widget-row m-0">
        <div class="feed background-cover" style="background-image:url('/assets/images/instagram/instagram1.jpg');">
          <a href="https://www.instagram.com/stanfordcourtsf" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>@stanfordcourt <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </a>
        </div>
      <div class="feed background-cover" style="background-image:url('/assets/images/instagram/instagram3.jpg');">
          <a href="https://www.instagram.com/stanfordcourtsf" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>@stanfordcourt <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </a>
        </div>
        <div class="feed background-cover" style="background-image:url('/assets/images/instagram/instagram4.jpg');">
          <a href="https://www.instagram.com/stanfordcourtsf" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>@stanfordcourt <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </a>
        </div>
        <div class="feed background-cover" style="background-image:url('/assets/images/instagram/instagram1.jpg');">
          <a href="https://www.instagram.com/stanfordcourtsf" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>@stanfordcourt <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
