<section class="instagram">

  <a class="scroll-to-top back-to-top" title="back to top">Back to Top</a>
  <h3 class="text-center">CONNECT WITH US</h3>
  <div class="instagram-row m-0">
    <div class="social-links">
      <ul>
        <li><a href="https://www.facebook.com/StanfordCourtSF" title="facebook" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/stanfordcourtsf/" title="instagram" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.tripadvisor.in/Hotel_Review-g60713-d80747-Reviews-Stanford_Court_San_Francisco-San_Francisco_California.html" title="Trip Advisor" target="_blank" rel="nofollow"><i class="fab fa-tripadvisor"></i></a></li>
        <li><a href="" title="Conde Nast" target="_blank" rel="nofollow" class="cn-icon">
          <img src="/assets/images/cn.jpg" alt="Conde nast">
        </a></li>
      </ul>
    </div>
    <div class="insta-widget">
      <div class="insta-widget-row m-0 instagram-feed">
      </div>
    </div>
  </div>
</section>
