{% assign links = site.data.navigation.main %}

<nav class="navbar navbar-expand-xl fixed-top nav-active">
  <a class="navbar-brand" href="/" title="{{site.name}}"><img class="logo-active" src="/assets/images/logo.png" alt="{{site.name}}"><img class="main-logo" src="/assets/images/logo.png" alt="{{site.name}}"></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <div class="line"></div>
	  <div class="line"></div>
	  <div class="line"></div>
	</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% for link in links %}
        <li class="nav-item {% if link.url == page.url %} active{% endif %} {% if link.dropdown %}dropdown{% endif %}">
          <a class="nav-link" href="{{ link.url }}" title="{{ link.name }}" {% if link.dropdown %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}><span>{{ link.title }}</span></a>
          {% if link.dropdown %}
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% for sublink in link.dropdown %}
                <a class="dropdown-item" href="{{ sublink.url }}" title="{{ sublink.title }}">{{ sublink.title }} </a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <a href="javascript:void(0);" class="booknow" show-booking-widget>Book Now</a>
</nav>

{% comment %}
Removed as per client request
<section class="top-banner">
  <h5>Black Friday Sale!</h5>
  <a class="secondary-btn-inverse" href="/promos/black-friday-40/" title="Book & Save" target="_blank" id="top_banner_offer">Book & Save</a>
</section>
{% endcomment %}
