<div class="social-wrapper">
	<span class="share-heading"> Share: </span> 
	<ul class="social-share">
	    <li>
	       <a href="javascript:void(0);" class="fa fa-facebook" title="Share on Facebook"  ></a>
	    </li>
	    <li>
	        <a href="https://twitter.com/intent/tweet?{% if site.data.social.twitter.username %}via={{ site.data.social.twitter.username }}&{% endif %}text={{ page.title }} {{site.url}}{{ page.url }}" class="fa fa-twitter" title="Share on Twitter" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"></a>
	    </li>
	    <li>
	        <a href="https://plus.google.com/share?url={{site.url}}{{ page.url }}" class="fa fa-google-plus" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" title="Share on Google plus">
	            
	        </a>
	    </li>
	    <li>
	    	{% assign title = blog.title | replace: "'", "" %}

	        <a href="javascript:void(0);" class="fa fa-pinterest-p" title="Share on Pinterest" onClick="pinterestShare('{{blog.blogimage.url}}', '{{title}}');"  ></a>

	    </li>
	</ul>
</div>