<!-- Special offers slide start here -->
<hr class="d-md-none d-block">
<section class="special-offers" rt3-special-rates="offers">
  <h3 class="text-center" tabindex="0">Special Offers</h3>
  <p tabindex="0">What makes a stay at the Stanford Court even better? A sweet deal and some amazing extras to make your next city sojourn even more rewarding. </p>
  <div class="slick-controls" id="special-offers">
    <div class="item" ng-repeat="offer in offers.special_rates | limitTo: 3">
      <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>
      <div class="image">
        <figure class="background-cover" ng-style="{'background-image':'url([[ offer.lead_photo_url.large ]])'}"></figure>
      </div>
      <hr>
      <!-- <span>[[ $index + 1 ]]</span> -->
      <a class="primary-btn mr-auto" ng-href="/offer/#[[ offer.rate_plan_name | formatNameForLink ]]" title="">Discover More</a>
    </div>
  </div>
  <p class="text-center d-none d-sm-block">
    <a class="black-btn" href="/offers/" title="">All Offers</a>
  </p>
</section>
