<section class="stay-sfc">
  <div class="stay-wrapper">
    <div class="stay-row m-0">
      <div class="header-title text-center">
        {% regionblock stay_header, type: header %}
        <h4>Stay at stanford Court</h4>
        {% endregionblock %}
        {% regionblock stay_text, type: header %}
        <h3 class="text-white">Lorem ipsum dolor<br>sit amet consectetur.</h3>
        {% endregionblock %}
        {% regionblock stay_link, type: text %}
        <a class="secondary-btn-inverse" href="/">Booknow</a>
        {% endregionblock %}
      </div>
      <div class="logo">
        <img src="/assets/images/footer-logo.png" alt="Stanford Court Hotel">
      </div>
    </div>
  </div>
</section>
