// Base Elements
// ==========================================================================
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font;
  color: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1 {
  @include text-formatting($title-font, $type-size-0, 700, 12.75rem, $secondary-light, uppercase, -40px);
  @include text-gradient(to right, $gradient-1, $gradient-2 60%);
  @include media-breakpoint-down(sm) {
    font-size: $type-size-1;
    letter-spacing: -28px;
  }
}

h2 {
  @extend h1;
}
h3 {
  @include text-formatting($headings-font, $type-size-2, 400, 2.625rem, $secondary-light, uppercase, .4375rem);
  &.txt-white {
    color: $white;
  }

}
h4 {
  @include text-formatting($global-font, $type-size-5, 500, 1.625rem, $secondary-light, uppercase, 2.76px);
  &.txt-white {
    color: $white;
  }
}

p {
  @include text-formatting($global-font, $font-size-base, 400, 1.375rem, $secondary-light, none, .5px);
}

a {
  &:hover {
    text-decoration: none;
  }
}
// Buttons

.primary-btn {
  position: relative;
  display: inline-block;
  padding-right: 24px;
  text-decoration: none;
  cursor: pointer;
  background-image: url('/assets/images/black-arrow.png');
  background-repeat: no-repeat;
  background-position: right 4px bottom 0;
  @include text-formatting($global-font-bold, $type-size-5, 700,  normal, $black, none, 1.2px);
  @include global-transition(.3s);
  &:hover {
    color: $black;
    background-image: url('/assets/images/black-arrow.png');
    background-position: right 0 bottom 0;
  }
}

.primary-btn-inverse {
  @extend .primary-btn;
  color: $white;
  background-image: url('/assets/images/white-arrow.png');
  &:hover {
    color: $white;
    background-image: url('/assets/images/white-arrow.png');
  }
}

.secondary-btn {
  @extend .primary-btn;
  padding: 17px 40px;
  background-image: none;
  border: 1px solid $secondary-color;
  border-radius: 27px;
  &:hover {
    color: $white;
    background: $secondary-color;
    background-image: none;
  }
}

.secondary-btn-inverse {
  @extend .secondary-btn;
  color: $white;
  border: 1px solid $white;
  &:hover {
    color: $black;
    background: $white;
  }
}

.black-btn {
  @extend .secondary-btn;
  color: $white;
  background: $secondary-color;
  border: 0;
  &:hover {
    color: $black;
    background: $white;
    border: 0;
  }
}

.background-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vertical-line {
  position: absolute;
  bottom: 8px;
  left: -10px;
  width: 71px;
  height: 1px;
  content: '';
  background: $white;
}
