.brg-widget {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  max-width: 325px;
  margin: auto;
  transform: rotateY(-30%);
  @include media-breakpoint-down (sm) {
    position: inherit;
    max-width: 300px;
    padding: 30px 15px;
  }
}

.recentBookingsOuter {
  .recentBookingsInner {
    text-align: center;
    text-transform: none;
  }

  .recentBookingsHolder {
    display: block;
    padding: 12px 20px 7px;
    font-family: $headings-font;
    font-size: 18px;
    color: $black;
    text-align: center;
    letter-spacing: .025em;
    vertical-align: middle;
    background-color: $white;
    @media (max-width: 1023px) {
      padding: 6px 10px;
      font-size: 14px;
      text-align: center;
    }

    .recentBookingNo {
      display: inline-block;
      padding-right: 18px;
      font-size: 30px;
      color: $book-btn-bg;
      vertical-align: middle;
      @media (max-width: 1023px) {
        padding-right: 8px;
        font-size: 20px;
      }
    }

    .recentBookingText {
      display: inline-block;
      font-size: 15px;
      color: $black;
      vertical-align: middle;
      @media (max-width: 1023px) {
        padding-right: 8px;
        font-size: 11px;
      }
    }
  }
}

.price-wrap {
  font-family: $headings-font;
  .best-rate-ota {
    width: 100%;
    margin: 0 auto;

    .boxes {
      position: relative;
      padding: 0;

      .tonight-rate {
        width: 100%;
        height: 100%;
        margin-bottom: 19px;
        border-bottom: 1px solid $white;

        p {
          margin: 0 0 14px;
          padding: 0;
          font-family: $global-font-bold;
          font-size: 12px;
          line-height: 10px;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        h4 {
          margin: 0 0 19px;
          padding: 0;
          font-family: $headings-font;
          font-size: 20px;
          line-height: 30px;
          color: $white;
          text-align: center;
          letter-spacing: 4px;
          @media(max-width: 350px) {
            line-height: 20px;
          }

          a {
            display: inline-block;
            margin-left: 10px;
            color: $white;
          }

          .price {
            font-size: 30px;
            color: $white;
            border: solid 1px #dec7a5;
            @media(max-width: 650px) {
              display: inline-block;
              float: none;
              margin-top: 10px;
            }
          }
        }
      }

      .ota-list {
        min-height: auto;
        ul {
          width: 100%;
          margin-bottom: 0;
          padding: 0;
          list-style-type: none;

          li {
            display: inline-block;
            width: 50%;
            font-size: $font-size-base;
            color: $white;
            @include media-breakpoint-down (sm) {
              width: 100%;
              text-align: center;
            }
            span {
              font-family: $global-font;
              text-decoration: line-through;
              text-transform: none;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
