@font-face {
  font-family: 'BebasNeue Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/bebas/bebasneue_regular.eot'), url('/assets/fonts/bebas/bebasneue_regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/bebas/bebasneue_regular.woff') format('woff'), url('/assets/fonts/bebas/bebasneue_regular.ttf') format('truetype');
}


@font-face {
  font-family: 'GothamHTF Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/gotham/gothamhtf-bold.eot'), url('/assets/fonts/gotham/gothamhtf-bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/gotham/gothamhtf-bold.woff') format('woff'), url('/assets/fonts/gotham/gothamhtf-bold.ttf') format('truetype');
}
