// Navigation Elements
// ========================================================================== */

.navbar {
  padding: 0;
  .logo-active {
    display: none;
    transition: $global-transition;
  }
  .navbar-brand {
    z-index: 1;
    width: 182px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
    @media (min-width: 1100px) {
      padding-top: 61px;
      padding-bottom: 0;
      padding-left: 54px;
    }
    img {
      width: 100%;
    }
  }
  .navbar-nav {
    margin-top: 0;
    margin-left: auto;
    font-family: $global-font-bold;
    font-size: $type-size-4;
    font-weight: 600;
    letter-spacing: .7px;
    background-color: $black;
    @include media-breakpoint-up(lg) {
      margin-top: -20px;
      background-color: transparent;
    }
    .nav-item {
      color: $white;
      &.active {
        .nav-link {
          &::after {
            width: 100%;
            background-color: $white;
          }
        }
      }
    }
    .nav-link {
      position: relative;
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      color: $white;
      text-align: left;
      @include media-breakpoint-up(lg) {
        margin-right: 1rem;
        margin-left: 1rem;
      }
      &::after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        display: none;
        width: 0;
        height: 3px;
        margin: 0 auto;
        content: '';
        background-color: $white;
        transition: $global-transition;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
      &:hover {
        color: $white;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .booknow {
    position: absolute;
    top: 32px;
    right: 16px;
    padding: 12px;
    font-family: $global-font-bold;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    background-color: $book-btn-bg;
    border: 1px solid $book-btn-bg;
    transition: $global-transition;
    @include media-breakpoint-up(lg) {
      top: 101px;
      right: 12px;
      padding: 14px 26px;
    }
    &:hover {
      color: $black;
      background-color: $white;
      border: 1px solid $nav-hover-bg;
      transition: $global-transition;
    }
  }
  &.nav-active {
    padding: 0;
    background-color: transparent;
    opacity: 0;
    transition: $global-transition;
    .logo-active {
      display: inherit;
      @media(max-width: 370px) {
        width: 135px;
      }
    }
    .main-logo {
      display: none;
    }
    .nav-item {
      &.active {
        .nav-link {
          // &::after {
          //   width: 100%;
          // }
        }
      }
    }
    .nav-link {
      transition: $global-transition;
      // &:hover {
      //   color: $black;
      //   background-color: $nav-hover-bg;
      // }
      @include media-breakpoint-down(md) {
        padding: .6rem 50px;
        font-size: $type-size-4;
        font-weight: 700;
        color: $white;
        border-bottom: 1px solid $secondary-light;
        transition: $global-transition;
        &:hover {
          color: $black;
          background-color: $nav-hover-bg;
        }
      }
      &:hover {
        // &::after {
        //   width: 100%;
        //   color: $black;
        //   background-color: $tertiary-color;
        // }
      }
    }
    @include media-breakpoint-down(md) {
      background-color: $black;
    }
  }
  .navbar-toggler {
    position: absolute;
    top: 35px;
    right: 165px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0;
    outline: 0;
    .line {
      width: 100%;
      height: 3px;
      margin-bottom: 12px;
      background-color: $white;
      transition: $global-transition;
      &:last-child {
        display: none;
        margin-bottom: 0;
      }
      &:first-child {
        margin-bottom: 0;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        position: relative;
        top: -3px;
        margin-bottom: 0;
        transform: rotate(-45deg);
      }
    }
    &.collapsed {
      .line {
        &:first-child {
          margin-bottom: 12px;
          transform: none;
        }
        &:last-child {
          display: block;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          position: static;
          margin-bottom: 12px;
          transform: none;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      height: 250px;
      content: '';
      background: linear-gradient(to bottom, rgba(0,0,0,.65) 0%,rgba(73,73,73,.26) 51%,rgba(73,73,73,0) 85%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00494949',GradientType=0 );
    }
  }
}

// Removes margins, padding, and bullet points from navigation lists
nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  // Override white-space for nested lists
  ol li,
  ul li {
    margin-bottom: 0;
  }
  li ol,
  li ul {
    margin-top: 0;
  }
}

.dropdown-menu {
  top: 40px;
  display: block;
  padding: 0;
  border-radius: 0;
  @include media-breakpoint-down(md) {
    margin: 0;
    text-align: center;
    background-color: $white;
    border: 0;
  }
  a {
    padding: 14px;
    font-size: $type-size-4;
    font-weight: 700;
    color: $black;
    text-align: left;
    border-bottom: 1px solid $nav-hover-bg;
    transition: $global-transition;
    @include media-breakpoint-down(md) {
      padding-right: 70px;
      padding-left: 70px;
      color: $black;
    }
    &:hover {
      color: $black;
      background-color: $nav-hover-bg;
    }
  }
}

.dropdown-item {
  padding: .7rem;
}
