// Variables
// ==========================================================================

//fonts
$title-font: 'GothamHTF Bold';
$headings-font: 'bebas-neue-by-fontfabric',sans-serif;
$global-font: 'futura-pt', sans-serif;
$global-font-bold: 'futura-pt-bold', sans-serif;

// Typography

// Type scale
$font-size-base: 1rem !default;
$type-size-0: 16.125rem !default; // ~258px
$type-size-1: 10.25rem !default; // ~164px
$type-size-2: 2.25rem !default; // ~36px
$type-size-3: $font-size-base !default; // ~16px
$type-size-4:  .875rem !default; // ~14px
$type-size-5:  .8125rem !default; // ~13px
$type-size-6:  .75rem !default; // ~12px
$type-size-7:  6.25rem !default; // ~100px


// From Style Guide
// Feel free to use $black & $white variables from bootstrap for #000 & #fff
$primary-color: #bc9962 !default;
$secondary-color: #262626 !default;
$secondary-light: #231f20 !default;
$white: #fff;
$black: #000;
$gradient-1: #41b6e6;
$gradient-2: #a9c23f;
$gray: #838386;
$gray-dark: #131214;
$global-transition: all .1s ease-in !default;
$book-btn-bg: #9d8053;
$nav-hover-bg: #ebe4de;
$vertical-line-bg: #979797;
$dark: #131214;
