.history {
  min-height: 600px;
  margin-bottom: 50px;
  background-color: $black;
  background-image: url('/assets/images/hotel/history.jpg');
  @include media-breakpoint-up(md) {
    min-height: 700px;
    margin-bottom: 98px;
  }

  .history-wrapper {
    @include container-fix-2;
    max-width: 1670px;
    padding-left: 30px;
    @include media-breakpoint-up(lg) {
      padding-left: 113px;
    }
    @media (min-width: 1680px) {
      padding-left: 0;
    }
    .info-content {
      width: 100%;
      padding-top: 5rem;
      @include media-breakpoint-up(md) {
        padding-top: 11rem;
      }
      h3 {
        margin: 20px 0;
        color: $white;
      }
      p {
        padding-bottom: 10px ;
        font-weight: normal;
        line-height: 22px;
        color: $white;
        letter-spacing: .05em;
      }
    }
  }

  #timeline {
    position: relative;
    width: 100%;
    padding: 0 30px;
    overflow: hidden;
    @media (min-width: 1680px) {
      width: 1600px;
      margin: 0 auto;
      overflow: hidden;
    }
    @media (min-width: 1025px) and (max-width: 1324px) {
      width: 1220px;
    }
    @media (min-width: 1180) and (max-width: 1024px) {
      width: 1020px;
    }
    @media (min-width: 900px) and (max-width: 1180px) {
      width: 900px;
    }
    @media (min-width: 768px) and (max-width: 900px) {
      width: 700px;
    }
    @media (min-width: 560px) and (max-width: 650px) {
      width: 500px;
    }
    @media (min-width: 460px) and (max-width: 560px) {
      width: 400px;
    }
    @media (min-width: 320px) and (max-width: 460px) {
      width: 280px;
    }
      @include media-breakpoint-up(xl) {

      }
  }

  .dates-nav {
    bottom: 0;
    width: 100%;
    margin-top: 85px;
    margin-left: 0;
    background: url('/assets/images/small-line.png') left 56px repeat-x;
    @include media-breakpoint-up(lg) {
      width: 90%;
      margin-left: 113px;
      overflow: hidden;
    }

    #dates {
      width: 100%;
      height: 150px;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        width: 150px;
        height: 150px;
        font-size: 14px;
        text-align: center;
        list-style: none;

        &.year4 {
            width:50px;
        }
        &.year5 {
            width:60px;
        }
        &.year6 {
            width:70px;
        }
        &.year7 {
            width:80px;
        }
        &.year8 {
            width:90px;
        }
        &.year9 {
            width:100px;
        }
        &.year10 {
            width:130px;
        }
        &.year15 {
            width:160px;
        }
        &.year20 {
            width:190px;
        }
        a {
          display: inline-block;
          color: $white;
          &.selected {
            color: $primary-color;
          }
        }

        &:nth-child(odd) {
          height: 60px;
          margin-bottom: 44px;
          background: url('/assets/images/biggerdot.png') center bottom no-repeat;

          a {
            padding-bottom: 20px;
          }
        }

        &:nth-child(even) {
          height: 60px;
          margin-top: 52px;
          background: url('/assets/images/biggerdot.png') center 0 no-repeat;

          a {
            padding-top: 20px;
          }
        }
      }

    }
  }

  #issues {
    width: 100%;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      width: 1270px;
      list-style: none;

      .history-info {
        float: inherit;
        max-width: 91%;
        margin: auto;
        @include  media-breakpoint-up(md) {
          float: right;
          max-width: 445px;
        }
      }

      @media (min-width: 1600px) {
        width: 1570px;
      }
      @media (min-width: 1225) and (max-width: 1340px) {
        width: 1320px;
      }
      @media (min-width: 1024) and (max-width: 1224px) {
        width: 1215px;
      }
      @media (min-width: 1180) and (max-width: 1024px) {
        width: 1015px;
      }
      @media (min-width: 900px) and (max-width: 1180px) {
        width: 900px;
      }
      @media (min-width: 768px) and (max-width: 900px) {
        width: 700px;
      }
      @media (min-width: 560px) and (max-width: 650px) {
        width: 500px;
      }
      @media (min-width: 460px) and (max-width: 560px) {
        width: 400px;
      }
      @media (min-width: 320px) and (max-width: 460px) {
        width: 280px;
      }

      &.selected {
        color: $white;
      }

      h3 {
        margin: 20px 0;
        color: $white;
      }

      p {
        margin-right: 20px;
        padding-bottom: 10px ;
        font-weight: normal;
        line-height: 22px;
        color: $white;
        letter-spacing: .05em;
        @media (min-width: 768px) and (max-width: 900px) {
          margin-right: 20px;
          text-align: left;
        }
        @media (max-width: 767px) {
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }
}
