.history {
  min-height: 600px;
  margin-bottom: 25px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $black;
  background-image: url('/assets/images/hotel/history.jpg');
  @include media-breakpoint-up(md) {
    min-height: 700px;
    margin-bottom: 25px;
    padding-top: 4rem;
  }

  .history-wrapper {
    @include container-fix-2 ;
    max-width: 1160px;
    @media (min-width: 1680px) {
      max-width: 1640px;
    }
    .info-content {
      width: 100%;

      h3 {
        margin: 20px 0;
        color: $white;
      }

      p {
        padding-bottom: 10px;
        font-weight: normal;
        line-height: 22px;
        color: $white;
        letter-spacing: .05em;
      }
    }
  }

  #timeline {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0 30px;
    overflow: hidden;
    @media (min-width: 1680px) {
      width: 1640px;
      overflow: hidden;
    }
    @media (min-width: 1366px) and (max-width: 1440px) {
      width: 1160px;
    }
    @media (min-width: 1025px) and (max-width: 1324px) {
      width: 1220px;
    }
    @media (min-width: 1180px) and (max-width: 1024px) {
      width: 1020px;
    }
    @media (min-width: 900px) and (max-width: 1180px) {
      width: 889px;
    }
    @media (min-width: 768px) and (max-width: 900px) {
      width: 700px;
    }
    @media (min-width: 560px) and (max-width: 650px) {
      width: 500px;
    }
    @media (min-width: 460px) and (max-width: 560px) {
      width: 400px;
    }
    @media (min-width: 320px) and (max-width: 460px) {
      width: 100%;
    }
  }

  .dates-nav {
    position: relative;
    bottom: 0;
    z-index: 2;
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
    overflow: hidden;
    background: url('/assets/images/small-line.png') left 56px repeat-x;
    @include media-breakpoint-up(md) {
      width: 70%;
      margin-top: 105px;
      overflow: hidden;
    }

    #dates {
      width: 100%;
      height: 150px;
      padding: 0;
      overflow: hidden;

      li {
        float: left;
        width: 150px;
        height: 150px;
        font-size: 14px;
        text-align: right;
        list-style: none;

        &.year4 {
          width: 50px;
        }

        &.year5 {
          width: 60px;
        }

        &.year6 {
          width: 70px;
        }

        &.year7 {
          width: 80px;
        }

        &.year8 {
          width: 90px;
        }

        &.year9 {
          width: 100px;
        }

        &.year10 {
          width: 130px;
        }

        &.year15 {
          width: 160px;
        }

        &.year20 {
          width: 190px;
        }

        a {
          display: inline-block;
          color: $white;

          &.selected {
            color: $primary-color;
          }
        }

        &:nth-child(odd) {
          height: 60px;
          margin-bottom: 44px;
          background: url('/assets/images/biggerdot.png') right 10px bottom no-repeat;

          a {
            padding-bottom: 20px;
          }
        }

        &:nth-child(even) {
          height: 60px;
          margin-top: 52px;
          background: url('/assets/images/biggerdot.png') right 10px top 0 no-repeat;

          a {
            padding-top: 20px;
          }
        }
      }
    }
  }

  #issues {
    position: inherit;
    top: inherit;
    z-index: 1;
    width: 100%;
    margin: 0 auto 20px;
    padding: 0;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 100px;
    }
    li {
      float: left;
      list-style: none;

      .history-info {
        float: inherit;
        max-width: 100%;
        margin: auto;
        @include media-breakpoint-up(md) {
          float: right;
          max-width: 445px;
          margin-right: 0;
        }
        @include media-breakpoint-up(xl) {
          float: right;
          max-width: 445px;
          margin-right: 90px;
        }
        @media (min-width: 1600px) {
          max-width: 100%;
          margin-right: 0;
        }
      }
      @media (min-width: 1600px) {
        width: 1570px;
      }
      @media (min-width: 1366px) and (max-width: 1440px) {
        width: 1200px;
      }
      @media (min-width: 1225px) and (max-width: 1340px) {
        width: 1160px;
      }
      @media (min-width: 1024) and (max-width: 1224px) {
        width: 1015px;
      }
      @media (min-width: 1180) and (max-width: 1024px) {
        width: 1015px;
      }
      @media (min-width: 900px) and (max-width: 1180px) {
        width: 889px;
        margin: auto;
      }
      @media (min-width: 768px) and (max-width: 900px) {
        width: 700px;
      }
      @media (min-width: 560px) and (max-width: 650px) {
        width: 500px;
      }
      @media (min-width: 460px) and (max-width: 560px) {
        width: 400px;
      }
      @media (min-width: 320px) and (max-width: 460px) {
        width: 280px;
      }

      &.selected {
        color: $white;
      }

      h3 {
        margin: 20px 0;
        color: $white;
      }

      p {
        width: 100%;
        font-weight: normal;
        line-height: 22px;
        color: $white;
        letter-spacing: .05em;
        @include media-breakpoint-up(md) {
          max-width: 275px;
          margin-top: 35px;
          padding: 0 10px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 250px;
          margin-top: 35px;
          padding: 0 10px;
        }
        @media (min-width: 1600px) {
          max-width: 350px;
          margin-top: 35px;
          padding: s0 10px;
        }

        @media (min-width: 768px) and (max-width: 900px) {
          margin-right: 20px;
          text-align: left;
        }
        @media (max-width: 767px) {
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }
  .h-controls {
    position: absolute;
    top: -120px;
    right: inherit;
    z-index: 77;
    width: 95%;
    margin: auto;
    @include media-breakpoint-up(md) {
      top: -24px;
      right: 0;
      width: 30%;
    }
    @media (min-width: 1680px) {
      width: 35%;
    }
  }
  #next,
  #prev {
    position: absolute;
    top: 170px;
    width: 30px;
    height: 38px;
    overflow: hidden;
    font-size: 70px;
    text-indent: -9999px;
    background-repeat: no-repeat;
  }


  #next {
    right: 40px;
    display: block !important;
    background-image: url('../images/hotel/right-arrow.png');
    background-size: 30px;
    @include media-breakpoint-up(md) {
      left: 0;
    }
    @include media-breakpoint-up(lg) {
      left: 81px;
    }
    @media (min-width: 1600px) {
      left: 131px;
    }
  }

  #prev {
    left: 0;
    display: block !important;
    background-image: url('../images/hotel/left-arrow.png');
    background-size: 30px;
    @include media-breakpoint-up(md) {
      left: 20px;
    }
    @include media-breakpoint-up(lg) {
      left: 50px;
    }
    @media (min-width: 1600px) {
      left: 100px;
    }
  }


}
