// Home Page Elements
// ==========================================================================

.home-intro {
  margin-top: -180px;
  padding: 15px;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  .home-intro-inner {
    @include make-row;
  }
  .image {
    display: none;
    height: 271px;
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      right: -100px;
      z-index: 9;
      display: block;
    }
  }
  .content {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      padding: 80px 80px 80px 200px;
    }
    padding: 35px;
    background-color: $white;
    h4 {
      padding-bottom: 10px;
    }
    h3 {
      padding-bottom: 26px;
    }
    p {
      padding-bottom: 25px;
    }
  }
}

.home-amenities-wrap {
  padding: 48px 33px;
  background-image: url('/assets/images/home/amenities-bg.jpg');
  @include media-breakpoint-up(lg) {
    padding: 73px 0;
  }
  .home-amenities-inner {
    @include container-fix-2;
    position: relative;
    .home-amenities-row {
      @include make-row;
    }
    .text {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(5.5);
        padding-right: 116px;
        padding-left: 116px;
      }
      padding: 0;
      p {
        padding-bottom: 30px;
        color: $white;
      }
      h3 {
        margin: 0 auto;
        padding: 0 0 25px;
        @include media-breakpoint-up(lg) {
          max-width: 65%;
          padding: 0;
        }
      }
    }
    .images {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(5.5);
      }
      .images-inner {
        padding: 0 0 45px;
        @include make-row;
        @include media-breakpoint-up(lg) {
          padding: 0;
        }
      }
      .one {
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
          @include make-col(6.5);
        }
        min-height: 315px;
      }
      .two {
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
          @include make-col(5.5);
        }
        min-height: 315px;
      }
    }
    .tag-line-text {
      position: absolute;
      top: 0;
      right: 40px;
      @include media-breakpoint-up(xl) {
        right: 60px;
      }
      p {
        position: relative;
        padding-left: 80px;
        font-size: $type-size-4;
        color: $white;
        transform: rotate(270deg);
        transform-origin: right bottom 0;
        &:before {
          @extend .vertical-line;
        }
      }
    }
  }
}

.rooms-wrapper {
  padding: 110px 0;
  h2 {
    position: relative;
    z-index: 1;
    margin-left: -80px;
    opacity: .9;
  }
  .rooms-inner {
    @include container-fix-3;
    position: relative;
  }
  .image-part {
    margin-top: -60px;
    img {
      width: 100%;
    }
  }
  .content {
    position: relative;
    z-index: 1;
    width: 58%;
    margin-top: -164px;
    margin-right: -85px;
    margin-left: auto;
    padding: 64px 70px;
    background: $black;
    .plus-icon {
      position: absolute;
      top: -63px;
      left: 0;
      background: $white;
      img {
        padding: 25px;
      }
    }
    h3 {
      padding-bottom: 24px;
      color: $white;
    }
    p {
      padding-bottom: 30px;
      color: $white;
    }
  }
}
