// Home Page Elements
// ==========================================================================
.home-intro {
  margin-top: -210px;
  padding: 18px 15px;
  @include media-breakpoint-up(md) {
    margin-top: -180px;
    padding: 15px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  .home-intro-inner {
    @include make-row;
  }

  .image {
    display: none;
    height: 271px;
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      right: -100px;
      z-index: 9;
      display: block;
    }
  }

  .content {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      padding: 80px 80px 80px 200px;
    }
    padding: 23px 35px;
    background-color: $white;
    @media (min-width: 1440px) {
      padding: 80px 200px;
    }

    h4 {
      padding-bottom: 10px;
    }

    h3 {
      padding-bottom: 20px;
      @include media-breakpoint-up(md) {
        padding-bottom: 26px;
      }
    }

    p {
      min-height: 186px;
      padding-bottom: 25px;
      @include media-breakpoint-up(md) {
        min-height: auto;
      }
    }
  }
}

.home-amenities-wrap {
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    padding: 73px 0;
  }
  margin-bottom: 40px;
  padding: 46px 33px;
  background-color: $black;
  background-image: url('/assets/images/home/amenities-bg.jpg');

  .home-amenities-inner {
    @include container-fix-2;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding-right: 18px;
      padding-left: 18px;
    }

    .home-amenities-row {
      @include make-row;
    }

    .text {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(5.5);
        padding-right: 116px;
        padding-left: 116px;
      }
      padding: 0;

      p {
        padding-bottom: 30px;
        color: $white;
      }

      h3 {
        margin: 0 auto;
        padding: 0 0 25px;
        @include media-breakpoint-up(lg) {
          max-width: 65%;
          padding: 0;
        }
      }
    }

    .images {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(5.5);
      }

      .images-inner {
        padding: 0 0 45px;
        @include make-row;
        @include media-breakpoint-up(lg) {
          padding: 0;
        }
      }

      .one {
        @include make-col-ready();
        @media (min-width: 480px) {
          @include make-col(6.5);
        }
        @include media-breakpoint-up(md) {
          min-height: 315px;
        }
        height: 194px;
      }

      .two {
        @include make-col-ready();
        @media (min-width: 480px) {
          @include make-col(5.5);
        }
        @include media-breakpoint-up(md) {
          min-height: 315px;
        }
        height: 194px;
      }
    }

    .tag-line-text {
      position: absolute;
      top: 0;
      right: 40px;
      @include media-breakpoint-up(xl) {
        right: 60px;
      }

      p {
        position: relative;
        padding-left: 80px;
        font-size: $type-size-4;
        color: $white;
        transform: rotate(270deg);
        transform-origin: right bottom 0;

        &:before {
          @extend .vertical-line;
        }
      }
    }
  }
}

.rooms-wrapper {
  padding: 0 0 40px;
  @include media-breakpoint-up(md) {
    padding: 90px 0;
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-left: -13px;
    overflow: hidden;
    opacity: .9;
    @include media-breakpoint-up(md) {
      margin-left: -80px;
    }
  }

  .rooms-inner {
    @include container-fix-3;
    position: relative;
    @include media-breakpoint-up(xl) {
      padding: 0 15px;
    }
    padding: 0;
  }

  .image-part {
    position: relative;
    @include media-breakpoint-up(md) {
      height: 596px;
      margin-top: -60px;
    }
    height: 353px;
    margin-top: -42px;
    a {
      position: absolute;
      bottom: 20px;
      left: 80px;
      @include media-breakpoint-up(md) {
        bottom: -60px;
        left: 60px;
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    padding: 43px 50px 50px;
    background: $black;
    @include media-breakpoint-up(md) {
      width: 58%;
      margin-top: -164px;
      padding: 64px 70px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: -72px;
    }

    .plus-icon {
      position: absolute;
      top: -63px;
      left: 0;
      background: $white;

      img {
        padding: 25px;
      }
    }

    h3 {
      padding-bottom: 24px;
      color: $white;
    }

    p {
      padding-bottom: 38px;
      color: $white;
      @include media-breakpoint-up(md) {
        padding-bottom: 30px;
      }
    }
  }
}

.discover-sec {
  position: relative;
  padding-top: 70px;
  @include media-breakpoint-up(md) {
    padding-top: 300px;
  }

  h2 {
    position: absolute;
    top: 0;
    right: auto;
    z-index: 1;
    width: 100%;
    @media (min-width: 480px) {
      left: -28px;
      width: auto;
    }
    @include media-breakpoint-up(md) {
      top: 0;
      right: 0;
      left: auto;
    }
  }

  .carousel-inner {
    .carousel-block {
      @include make-row;
    }

    .image {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6.2);
      }
      height: 527px;
    }

    .carousel-caption {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(5.8);
        padding: 60px 80px 0 50px;
      }
      @include media-breakpoint-up(xl) {
        padding: 60px 200px 0 120px;
      }
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 10;
      padding: 50px 50px 100px;
      text-align: left;

      h3 {
        padding-bottom: 20px;
      }
    }

    &.indicators {
      position: absolute;
      top: 1020px;
      @media (min-width: 344px) {
        top: 950px;
      }
      @media (min-width: 402px) {
        top: 900px;
      }
      @media (min-width: 460px) {
        top: 880px;
      }
      @include media-breakpoint-up(sm) {
        top: 800px;
      }
      @include media-breakpoint-up(md) {
        top: 440px;
      }
      @include media-breakpoint-up(lg) {
        top: 360px;
      }
      @media (min-width: 1200px) {
        top: 430px;
      }
      @media (min-width: 1280px) {
        top: 350px;
      }

      .image {
        height: auto;
      }

      .carousel-caption {
        height: 20px;
        padding: 0 50px;
        @include media-breakpoint-up(md) {
          padding: 0 80px 0 50px;
        }
        @include media-breakpoint-up(xl) {
          padding: 0 200px 0 120px;
        }

        .carousel-indicators {
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;
          justify-content: left;
          width: auto;
          margin: 0;

          li {
            width: 9px;
            height: 9px !important;
            margin-right: 12px;
            padding: 0;
            @include media-breakpoint-up(md) {
              width: 6px;
              height: 6px !important;
              margin-right: 12px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.gallery-carousel {
  display: none;
  margin-bottom: 95px;
  @include media-breakpoint-up(md) {
    display: block;
    background-color: $black;
  }

  .gallery-carousel-inner {
    position: relative;

    .carousel-nav {
      top: 0;
      left: 0;
      z-index: 9;
    }

    .item {
      position: relative;
      display: inline-block;
      float: left;
      width: 16.66%;
      overflow: hidden;
      @include global-transition(.3s);

      &.active {
        width: 50%;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 700px;
        padding: 40px;
        color: $white;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: left bottom;
      }
    }
  }
}

//stay stanford court

.stay-sfc {
  margin: 97px auto 102px;
  background: $gray-dark;
  background-image: url('/assets/images/home/stay-sfc.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  @include media-breakpoint-down(sm) {
    display: none;
  }

  .stay-wrapper {
    @include container-fix-2;
    position: relative;
    min-height: 409px;

    .stay-row {
      @include make-row;
    }

    .header-title {
      padding-top: 93px;
      padding-bottom: 30px;
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }

      h4 {
        color: $white;
      }

      h3 {
        padding-top: 18px;
        padding-bottom: 53px;
      }

      .secondary-btn-inverse {
        padding-right: 60px;
        padding-left: 60px;
      }
    }

    .logo {
      position: absolute;
      right: 19px;
      bottom: 72px;
    }
  }
}

//blog section

.home-blog {
  @include container-fix-2;
  @include media-breakpoint-down(sm) {
    padding: 0;
    border-bottom: 1px solid $vertical-line-bg;
  }

  .home-blog-row {
    @include make-row();
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  .blog-top {
    @include make-col-ready();
    padding: 0 30px;
    background: $black;
    @include media-breakpoint-up(md) {
      @include make-col(9);
      padding-top: 70px;
    }

    .info {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(8);
        padding-bottom: 93px;
        padding-left: 107px;
      }

      h3 {
        padding-top: 45px;

        br {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        @include media-breakpoint-up(md) {
          padding-top: 18px;
        }
      }

      p {
        max-width: 436px;
        padding-top: 20px;
        color: $white;
      }
    }

    .link {
      @include make-col-ready();
      margin: 18px auto 100px;
      @include media-breakpoint-up(md) {
        @include make-col(4);
        margin: 40px auto 80px;
        text-align: center;
      }
    }
  }

  .blog-carousel {
    @include make-row();
    position: relative;
    margin: -40px 0 130px 50px;
    @include media-breakpoint-up(md) {
      margin-top: -112px;
    }

    .carousel {
      width: 100%;

      .carouse-row {
        @include make-row();
      }

      .carousel-text {
        order: 2;
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(6);
          order: 1;
        }

        .info {
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 440px;
            margin: auto;
          }

          h3 {
            padding-bottom: 10px;
          }

          span {
            font-family: $global-font-bold;
            font-size: $type-size-5;
            font-weight: 700;
            letter-spacing: 1.22px;
          }

          p {
            padding-top: 20px;
          }
        }
      }

      .carousel-image {
        @include make-col-ready();
        min-height: 337px;
        margin-bottom: 40px;
        order: 1;
        @include media-breakpoint-up(md) {
          @include make-col(5);
          min-height: 395px;
          margin-bottom: inherit;
          order: 2;
        }
      }

      .blog-controls {
        @include make-row();
      }

      .blog-indicators {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }

        .carousel-indicators {
          left: 0;
          width: 440px;
          margin: auto;
          @include media-breakpoint-down(md) {
            width: 100%;
            padding: 15px;
          }
        }
      }

      .blog-nav {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(5.1);
        }

        .carousel-nav {
          right: -2px;
        }
      }
    }

    .tag-line-text {
      position: absolute;
      top: -105px;
      display: none;
      @include media-breakpoint-up(md) {
        right: 0;
        display: block;
      }

      p {
        position: relative;
        padding-left: 80px;
        font-size: $type-size-4;
        color: $black;
        transform: rotate(270deg);
        transform-origin: right bottom 0;

        &:before {
          @extend .vertical-line;
          background: $black;
        }
      }
    }

    .carousel-nav {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
