// Neighborhood Page Elements
// ==========================================================================

.page-intro {
  padding: 0 0 50px;
  @include media-breakpoint-up(lg) {
    padding: 0;
    background-color: transparent;
  }

  &.no-gap {
    padding: 0;
  }

  .page-intro-inner {
    @include make-row;
  }

  .gradient-bg {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      @include background-gradient(to right, $gradient-1, $gradient-2 150%);
    }
    background: linear-gradient(180deg, $nav-hover-bg 20%, $nav-hover-bg 80%, #fff 20%, #fff 80%);

    .gradient-bg-inner {
      position: relative;
      padding: 20px 0 0;
      @include media-breakpoint-up(lg) {
        min-height: 412px;
        padding: 40px 100px 0;
      }

      .text-inner {
        padding: 23px 35px 0;
        @include media-breakpoint-up(lg) {
          padding: 0;
        }
        p {
          display: none;
          @include media-breakpoint-down(md) {
            display: block;
          }
        }
      }

      h4 {
        padding-bottom: 8px;
        color: $black;
      }

      h3 {
        padding-bottom: 25px;
        color: $black;
        @include media-breakpoint-up(lg) {
          padding-bottom: 55px;
        }
      }
    }

    &.solid-bg {
      background: $nav-hover-bg;
    }
  }

  .content {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      padding: 0 100px;
    }
    padding: 23px 35px;
    @media (min-width: 1440px) {
      padding: 0 200px 0 100px;
    }
  }

  p {
    padding: 0 18px 50px 0;
    @include media-breakpoint-up(md) {
      padding: 0 0 25px;
    }
  }

  .image {
    height: 294px;
    margin: 0;
    @include media-breakpoint-up(md) {
      height: 332px;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 9;
      margin: 0 100px;
    }

    &.over-lap {
      @include media-breakpoint-down(sm) {
        margin-bottom: -60px;
      }
    }
  }
}

// Details scss
.local-attractions {
  .local-attractions-row {
    @include make-row();
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }

  .nav-controls {
    @include media-breakpoint-up(md) {
      @include make-col(6);
      display: block;
    }
    .carousel-nav {
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      @include media-breakpoint-up(md) {
        top: 0;
        right: inherit;
        left: auto;
        z-index: 1;
      }
    }
  }
}

.attractions-wrapper {
  @include make-row();
  position: relative;
  margin: 0 0 35px;
  @include media-breakpoint-up(md) {
    margin: 0 0 0;
  }

  .details {
    order: 2;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      order: 1;
    }

    .attraction-info {
      width: 100%;
      margin: -4px auto 24px;
      padding-right: 35px;
      padding-left: 35px;
      @include media-breakpoint-up(md) {
        max-width: 430px;
        margin: auto;
        padding-right: inherit;
        padding-left: 60px;
      }

      .back-btn {
        display: inline-block;
        margin-bottom: 33px;
        font-family: $global-font;
        font-weight: 500;
        color: $secondary-light;

        .svg-inline--fa {
          margin-right: 10px;
          font-size: $type-size-5;
        }
      }

      h4 {
        padding-bottom: 20px;
        color: $dark-text;
        @include media-breakpoint-up(md) {
          padding-bottom: 33px;
        }

        span {
          margin-left: 22px;
          font-family: $global-font-bold;
          font-weight: 700;
          color: $dark-text;
        }

        &:first-child {
          padding-bottom: 5px;
          color: $secondary-light;
        }
      }

      h3 {
        padding-bottom: 23px;
        @include media-breakpoint-up(md) {
          padding-bottom: 33px;
        }
      }

      p {
        padding-bottom: 6px;
        @include media-breakpoint-up(md) {
          padding-bottom: 27px;
        }
      }

      .primary-btn {
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
          margin-bottom: 35px;
        }
      }
    }
  }

  .tag-line-text {
    position: absolute;
    bottom: 250px;
    left: -80;
    @include media-breakpoint-up(xl) {
      left: 150px;
    }
    @include media-breakpoint-up(lg) {
      left: 80px;
    }

    p {
      position: relative;
      padding-left: 80px;
      font-size: $type-size-4;
      color: $vertical-line-bg;
      transform: rotate(270deg);

      &:before {
        @extend .vertical-line;
        background: $vertical-line-bg;
      }
    }
  }

  .image-slider {
    @include make-col-ready();
    min-height: 359px;
    padding: 0;
    order: 1;
    @include media-breakpoint-up(md) {
      @include make-col(6);
      order: 2;
    }
  }
}

.map {
  position: relative;
  min-height: 460px;
  padding-bottom: 9px;
  background-color: $white;
  & > div {
    background-color: $black !important;
  }
}

.find-your-way {
  padding: 0 0 40px;
  @include media-breakpoint-down(xs) {
    padding-top: 50px;
  }
  @include media-breakpoint-up(md) {
    padding: 50px 0 45px;
  }

  .find-your-way-inner {
    @include container-fix-3;
    position: relative;
    @include media-breakpoint-up(xl) {
      padding: 0 15px;
    }
    padding: 0;
  }

  .image-part {
    position: relative;
    @include media-breakpoint-up(md) {
      height: 596px;
      margin-top: -60px;
    }
    height: 267px;
    margin-top: -42px;
  }

  .content {
    padding: 0 15px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }

    .content-inner {
      position: relative;
      z-index: 1;
      width: 100%;
      margin-top: -50px;
      margin-right: 0;
      margin-left: auto;
      padding: 28px 34px;
      @include background-gradient(to right, $gradient-1, $gradient-2 150%);
      @include media-breakpoint-up(md) {
        width: 70%;
        margin-top: -164px;
        padding: 64px 70px;
      }
    }

    h3 {
      padding-bottom: 18px;
      color: $black;
      letter-spacing: 0;

      a {
        color: $black;
        text-decoration: none;
        &:hover {
          color: $primary-color;
        }
      }

      @include media-breakpoint-up(md) {
        padding-bottom: 24px;
      }
    }

    h4 {
      color: $black;

      &.mb {
        margin-bottom: 35px;
        @include media-breakpoint-up(md) {
          margin-bottom: 26px;
        }
      }
    }

    h5 {
      a {
        color: inherit;
      }
    }
  }
}

.events-carousel-wrapper {
  margin: 30px 0 0;
  h2 {
    position: relative;
    bottom: -40px;
    z-index: 1;
    margin-left: -18px;
    color: $black;
    opacity: .9;
    @include media-breakpoint-up(md) {
      margin-left: -80px;
    }
  }

  .events-carousel {
    margin-bottom: 44px;
    background: $white url('/assets/images/neighborhood/events-bg-2.jpg') repeat 0 0;


    .events-carousel-inner {
      @include container-fix-2;
      padding: 87px 38px 50px;
      @include media-breakpoint-up(md) {
        padding: 100px 15px 50px;
      }
      h3 {
        max-width: 800px;
        margin: 0 auto 36px;
        text-align: center;
      }
    }
  }
}

.neighborhood-map {
  .neighborhood-map-inner {
    @include make-row;
  }

}

// map marker customized css
.leaflet-container {
  .leaflet-marker-pane {
    img {
      left: 50px !important;
      z-index: 999 !important;
      //transform: translate3d(1005px, 221px, 0) !important;
    }
  }
}
