// Rooms & Room Details Page Elements
// ==========================================================================

.room-single {
  @include container-fix-2;

  .room-row {
    @include make-row();
    padding: 90px 15px;
    @include media-breakpoint-down(sm) {
      padding: 50px 40px;
    }
  }

  .room-image {
    @include make-col-ready();
    min-height: 468px;
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      @include make-col(4.3);
      min-height: 540px;
    }
    @media only screen and (max-width: 460px) {
      min-height: 368px;
    }
  }

  .room-info {
    @include make-col-ready();
    padding: 0 !important;
    @include media-breakpoint-up(md) {
      @include make-col(7.7);
    }

    .info {
      max-width: 100%;
      margin: auto;
      @include media-breakpoint-up(md) {
        max-width: 356px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 486px;
      }

      h4 {
        color: $white;
      }
      h3 {
        margin-bottom: 24px;
        color: $white;
      }

      p {
        padding-bottom: 25px;
        color: $white;
      }

      .secondary-btn-inverse {
        margin-top: 35px;
      }
    }
  }
}
// Room Feature
.room-features {
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    margin: 88px auto;
  }

  .feature-list {
    order: 2;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      order: 1;
    }

    .list {
      z-index: 2;
      max-width: 100%;
      margin-top: -70px;
      margin-right: inherit;
      padding: 13px 0;
      background: $black;

      @include media-breakpoint-up(md) {
        max-width: 847px;
        margin: 78px -229px 78px 0;
      }



      h4 {
        padding: 30px;
        color: $white;
      }

      ul {
        @media only screen and (max-width: 460px) {
          padding: 20px;
        }
        li {
          position: relative;
          float: left;
          width: 49%;
          margin-bottom: 20px;
          padding-left: 20px;
          color: $white;
          list-style: none;
          @include media-breakpoint-up(lg) {
            float: left;
            width: 33.3%;
          }
          @media only screen and (max-width: 460px) {
            width: 100%;
          }

          &:before {
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            height: 14px;
            content: '';
            border: 1px solid $white;
            border-radius: 14px;
          }
        }
      }
    }
  }

  .feature-image {
    @include make-col-ready();
    min-height: 380px;
    order: 1;
    @include media-breakpoint-up(md) {
      @include make-col(6);
      min-height: 527px;
      order: 2;
    }
  }
}
// Details scss
.details-wrapper {
  @include make-row();
  position: relative;
  margin: 0 0 55px;
  @include media-breakpoint-up(md) {
    margin: 0 0 155px;
  }

  .details {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    .room-info {
      width: 100%;
      margin: 40px auto 18px;
      padding-right: 40px;
      padding-left: 35px;
      @include media-breakpoint-up(md) {
        max-width: 430px;
        margin: 50px auto;
        padding-right: inherit;
        padding-left: 60px;
      }

      .back-btn {
        display: inline-block;
        margin-bottom: 33px;
        font-family: $global-font;
        font-weight: 500;
        color: $secondary-light;

        .svg-inline--fa {
          margin-right: 10px;
          font-size: $type-size-5;
        }
      }

      h4 {
        padding-bottom: 23px;
        color: $primary-color;
        @include media-breakpoint-up(md) {
          padding-bottom: 33px;
        }
        span {
          margin-left: 22px;
          font-family: $global-font-bold;
          font-weight: 700;
        }
      }

      h3 {
        padding-bottom: 28px;
        @include media-breakpoint-up(md) {
          padding-bottom: 33px;
        }
      }

      .area {
        margin-bottom: 30px;

        ul {
          padding: 0;

          li {
            display: inline-block;
            padding-right: 50px;
            text-align: center;
            @include media-breakpoint-up(md) {
              padding-right: 20px;
            }
            @media only screen and (max-width: 460px) {
              padding-right: 20px;
            }

            img {
              margin-bottom: 18px;
              @include media-breakpoint-up(md) {
                margin-bottom: 10px;
              }
            }

            span {
              display: block;
              border-bottom: 1px solid $secondary-light;
            }
          }
        }
      }

      p {
        padding-bottom: 21px;
        @include media-breakpoint-up(md) {
          margin-bottom: 27px;
        }
      }

      .primary-btn {
        margin-bottom: 35px;
      }
    }
  }

  .tag-line-text {
    position: absolute;
    bottom: 250px;
    left: 60px;
    @include media-breakpoint-up(lg) {
      left: 80px;
    }
    @include media-breakpoint-up(xl) {
      left: 120px;
    }
    @media screen and (min-width: 1600px) {
      left: 180px;
    }
    @media screen and (min-width: 1800px) {
      left: 250px;
    }

    p {
      position: relative;
      padding-left: 80px;
      font-size: $type-size-4;
      color: $vertical-line-bg;
      transform: rotate(270deg);
      transform-origin: bottom left;
      &:before {
        @extend .vertical-line;
        background: $vertical-line-bg;
      }
    }
  }

  .image-slider {
    @include make-col-ready();
    padding: 0;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    .carousel-item {
      min-height: 500px;
      @include media-breakpoint-up(md) {
        min-height: 700px;
      }
    }

    .carousel-nav {
      top: 0;
      right: inherit;
      z-index: 1;
    }
  }
}

// UNIQUE ROOM FEATURES
.room-amenites {
  position: relative;
  padding-top: 159px;
  @include media-breakpoint-up(md) {
    padding-top: 139px;
  }

  h2 {
    position: absolute;
    top: 0;
    right: auto;
    left: -28px;
    z-index: 1;
    width: 100%;
    line-height: 7.65rem;
    text-align: left;
    @include media-breakpoint-up(md) {
      top: 0;
      right: 0;
      left: auto;
      line-height: 12.75rem;
      text-align: right;
    }
  }

  .wrapper {
    @include container-fix-4;
    width: 95%;
    padding: 32px 16px;
    background: $black;
    background-image: none;
    @include media-breakpoint-up(md) {
      padding: 64px;
      background-image: url('/assets/images/footer-map.png');
      background-repeat: no-repeat;
      background-position: top -83px right -341px;
    }

    h4 {
      padding-bottom: 30px;
      color: $white;
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    .amenites-list {
      width: 100%;
      height: 280px;
      overflow-y: scroll;
      @include media-breakpoint-up(md) {
        max-width: 318px;
      }

      ul {
        padding: 0;

        li {
          position: relative;
          float: left;
          width: 49%;
          padding-bottom: 29px;
          padding-left: 30px;
          color: $white;
          list-style: none;
          @include media-breakpoint-up(md) {
            float: inherit;
            width: 80%;
            padding-bottom: 29px;
            padding-left: 30px;
          }
          @media only screen and (max-width: 460px) {
            width: 100%;
          }

          &:before {
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            height: 14px;
            content: '';
            border: 1px solid $white;
            border-radius: 14px;
          }
        }
      }
      .force-overflow {
        min-height: 250px;
      }

    }
  }
}
// rooms search
.rooms-search {
  margin: 85px auto;
  padding: 80px 0 55px;
  background: url('/assets/images/rooms/search_bg.jpg');
  @include  media-breakpoint-down(sm) {
    display: none;
  }
  .search-form {
    @include container-fix-4;
    max-width: 1018px;
    ul {
      margin-bottom: 55px;
      padding: 0;
      li {
        display: inline-flex;
        flex-direction: column;
        width: 125px;
        list-style: none;
        border-right: 1px solid $black;
        @include  media-breakpoint-down(md) {
          width: 100px;
        }
        &:nth-child(1) {
          width: 250px;
          @include  media-breakpoint-down(md) {
            width: 220px;
          }
        }

        &:nth-child(2) {
          width: 250px;
          @include  media-breakpoint-down(md) {
            width: 220px;
          }

        }

        &:nth-last-child(1) {
          border-right: 0;
        }
      }
    }

    label {
      display: block;
      text-align: center;
    }

    input {
      width: 100%;
      font-size: 3rem;
      color: $black;
      text-align: center;
      background: none;
      border: 0;
      @include  media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
      &.date-pic {
        background: url('/assets/images/rooms/angle-up.png');
        background-repeat: no-repeat;
        background-position: right 20px bottom 22px;
      }

      &:focus {
        outline: none;
      }
    }

    ::-webkit-input-placeholder {
      font-size: 3rem;
      color: $black;
      @include  media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    ::-moz-placeholder {
      font-size: 3rem;
      color: $black;
      @include  media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    :-ms-input-placeholder {
      font-size: 3rem;
      color: $black;
      @include  media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    :-moz-placeholder {
      font-size: 3rem;
      color: $black;
      @include  media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .number-input {
      display: inline-flex;
      padding: 0 10px;
    }

    .number-input,
    .number-input * {
      box-sizing: border-box;
    }

    .number-input a {
      position: relative;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin: 0;
      cursor: pointer;
      -webkit-appearance: none;
      border: 0;
      outline: none;
      background-color: transparent;
    }

    .number-input a:after,
    .number-input a:before {
      position: absolute;
      top: 49px;
      left: 10px;
      display: inline-block;
      width: 1rem;
      height: 2px;
      content: '';
      background-color: #212121;
      transform: translate(-50%, -50%);
    }

    .number-input a.plus:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    .number-input input [type=number] {
      max-width: 5rem;
      text-align: center;
    }
  }
}

// rooms search modal
.booking-widget-rooms{
    padding-right:0;
    h4{
        width:100%;
    }

        .adult-children-inner{
            @include make-row();
        }

        .rooms-holder ,.adults-wrap, .children-wrap{
            @include make-col-ready();
            @include media-breakpoint-up(md) {
                @include make-col(4);
            }

        }
        select{
            width:100%;
            padding:5px;
            margin:0 0 20px 0;
        }
        label{
            font-family: $global-font-bold;
            font-size: $type-size-9;
            font-weight: 700;
            display: block;
            text-align:center;
            position: relative;
            letter-spacing: 2px;
            text-transform: uppercase;
          //  color: $text-color;
            line-height: normal;
        }

    button{
        cursor:pointer;
    }
}
