.faq-seach {
  max-width: 400px;
  margin: 20px auto 40px;
}
.no-results {
  display: none;
  text-align: center;
}
.static-content {
  @include container-fix-2;
  margin-top: 3rem;

  .w-70 {
    max-width: 700px;
    margin: auto;
  }

  p {
    padding-bottom: 17px;
    a {
      color: $dark-text;
    }
  }

  //404 and sitemap
  .sitemap {
    max-width: 300px;
    margin: auto;
    text-align: left;

    ul {
      margin-left: 40px;

      ul {
        margin-left: 10px;
        padding: 0;
      }

      li {
        a {
          line-height: 30px;
          color: $black;
        }
      }
    }
  }

  //privacy
  &.privacy {
    h4 {
      padding: 20px 0;
      font-family: $headings-font;
      font-size: $type-size-9;
      font-weight: 400;
    }
  }
}

.wyndow {
  @include container-fix-2;
  margin-top: 3rem;
}
