---
title_localized:
  en: Blog | Stanford Court
label_localized:
  en:
layout_localized:
  en: default
meta_description_localized:
  en: Blog.
meta_keywords_localized:
  en:
published_localized:
  en: true
include_in_nav_localized:
  en: true

---

<div class="inner-banner without-text background-cover mb-80" style="background-image: url('/assets/images/blog/hero.jpg');">
  <div class="inner-nav fixed-menu ">
    <ul>
      <li>
        <a href="/blog/" class="active">All</a>
        {% assign categories = site.data._models.category | sort: 'order' | descending %}
        {% for categorylist in categories %}
        <a href="/blog/category/{{ categorylist.url_friendly_name }}/" title="{{ categorylist.title }}">
          {{ categorylist.title }}
        </a>
        {% endfor %}
      </li>
    </ul>
  </div>
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
</div>



<section class="blog-container" id="scroll-to">
  <div class="blog-row">
    <div class="blog-col">
      <div class="category-info">
        <div class="category-title ">
          <h4>Blog</h4>
        </div>
        <div class="category-description">
          <p>An insider’s guide to exploration, culture, lifestyle, local eats and innovation in the most forward-thinking city in the world, San Francisco.</p>
        </div>
        <hr>
      </div>
      {% for post in data_paginator.posts %}
        <div class="post">
          <a href="/blog/{{ post.url_friendly_name }}/" class="blog-image">
            <figure class="background-cover" style="background-image:url('{{post.blogimage.url}}');" title="{{post.img_alt_txt}}">
          </figure>

          </a>
          <div class="blog-item-text">

            <h4 class="date">
              {% assign d = post.date | date: "%-d" %}
              {{ post.date | date: "%B" }}
              {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
              {{ post.date | date: "%Y" }}
            </h4>

            <a href="/blog/{{ post.url_friendly_name }}/" class="blog-title">
              <h3> {{ post.title }} </h3>
            </a>

            <p class="extra-links">
              {% if post.category.url_friendly_name %}
              <a class="link-button" href="/blog/category/{{post.category.url_friendly_name}}/" > {{ post.category.title }} </a>
              {% endif %} | <a class="primary-btn" href="/blog/{{ post.url_friendly_name }}/"> Discover more </a>
            </p>

            <div class="short-description">
              {{ post.short_description }}
            </div>

          </div>
        </div>
      <div class="clearfix"></div>
      {% endfor %}

      {% if data_paginator.total_pages > 1 %}

        <div class="pagination">
          {% if data_paginator.previous_page %}
          {% if data_paginator.page %}
          <a name="previous" title="previous" class="bg-center-center bg-norepeat left-arrow btn-outline-black" href="{{ data_paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> <img src="/assets/images/black-arrow.png" alt="Previous Page"> </a>
          {% else %}
          <a href="{{ data_paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> {{ page }} </a>
          {% endif %}
          {% else %}
          <a href="#"  name="previous" title="previous"  class="bg-center-center bg-norepeat left-arrow disabled btn-outline-black"><img src="/assets/images/black-arrow.png" alt="Previous Page"></a>
          {% endif %}

          <div class="pagnum">
            Page {% if data_paginator.page < 10 %} 0{% endif %}{{data_paginator.page}} Of {{data_paginator.total_pages}}
          </div>

          {% if data_paginator.next_page %}
          <a  name="next" title="next"  class="bg-center-center bg-norepeat right-arrow btn-outline-black" href="{{ data_paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <img src="/assets/images/black-arrow.png" alt="next page">
          </a>
          {% else %}
          <a href="#"  name="next" title="next"  class="bg-center-center bg-norepeat right-arrow disabled btn-outline-black"> <img src="/assets/images/black-arrow.png" alt="next page"> </a>
          {% endif %}

        </div>
      {% endif %}

    </div>
    <div class="blog-right-block">
      {% include blog-aside.html %}
    </div>
  </div>
</section>
