---
layout: default
---

{% assign blogseo_title =  'blog title' %}
{% assign blog = page %}
{% assign model = page %}
{% assign post = site.data._models.blog  %}
{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="inner-banner full without-text background-cover  mb-80" style="background-image: url({{blog.blogimage.url}});">

  <div class="inner-nav fixed-menu">
    <p class="select-room">Select Blog Category</p>
    <ul>
      <li>
        <a href="/blog/" class="active">All</a> {% assign categories = site.data._models.blog_categories | sort: 'order' | descending %}
        {% for categorylist in categories %}
        <a href="/blog/category/{{categorylist.url_friendly_name}}/" title="{{categorylist.title}}">{{categorylist.title}}</a> {% endfor %}
      </li>
    </ul>
  </div>
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
</div>


<section class="blog-container" id="scroll-to">
  <div class="blog-row">
    <div class="blog-col">
      <div class="post post-details">
        <div class="social-share-wrap">
          <div class="left-sec">
            <a href="/blog/" class="link-button back-to-blog">Back To Blog Posts</a>
          </div>
          <div class="right-sec">
            <span>Share: </span>
            <ul class="social-share">
              <li>
                <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]={{blog.title}}&p[url]={{site.url}}{{ page.url }}&p[summary]={{ blog.short_description | strip_html | truncatewords: 20 | remove: '<p>' | remove: '</p>'}}&p[images][0]={{blog.blogimage.url_large}}"
                  title="Share on Facebook" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" rel="nofollow" title="Share on Facebook">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="window.open('https://twitter.com/intent/tweet?{% if site.data.social.twitter.username %}via={{ site.data.social.twitter.username }}&{% endif %}text={{ post.title }} {{site.url}}{{ page.url }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;" title="Share on Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/share?url={{site.url}}{{ page.url }}" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" title="Share on Google plus">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              {% assign title = blog.title | replace: "'", "" %}
              <li>
                <a href="javascript:void(0);" title="Share on Pinterest" onClick="pinterestShare('{{blog.blogimage.url}}', '{{title}}');">
                  <i class="fab fa-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="date">{% assign d = blog.date | date: "%-d" %}
          {{ blog.date | date: "%B" }}
          {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
          {{ blog.date | date: "%Y" }}
        </h4>
        <h3 class="blog-heading">{{blog.title}}</h3>
        <h4 class="blog-cat">
          {% if blog.category.url_friendly_name %}
            <a href="/blog/category/{{blog.category.url_friendly_name}}/"> {{blog.category.title}} </a>
          {% endif %}
        </h4>
        <div class="blog-description" tabindex="0">
          {{blog.long_description}}
        </div>
      </div>
    </div>
    <div class="blog-right-block">
      {% include blog-aside.html %}
    </div>
  </div>
</section>
