---
layout: default
---

{% assign seo_title = page.data.title %}
<div class="inner-banner full without-text background-cover  mb-80" style="background-image: url('/assets/images/blog/hero.jpg');">
  <div class="inner-nav fixed-menu">
    <p class="select-room">Select Blog Category</p>
    <ul>
      <li>
        <a href="/blog/">All</a>
        {% assign categories = site.data._models.category | sort: 'order' | descending %}
        {% for categorylist in categories %}
        <a href="/blog/category/{{ categorylist.url_friendly_name }}/" title="{{ categorylist.title }}" class="{% if categorylist.url_friendly_name == page.data.url_friendly_name %} active {% endif %}">{{ categorylist.title }}
        </a>
        {% endfor %}
      </li>
    </ul>
  </div>
  <div class="scroll-down">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>
</div>

<section class="blog-container" id="scroll-to">
  <div class="blog-row">
    <div class="blog-col">
      <div class="category-info">
        {% assign categories = site.data._models.category | sort: 'order' | descending %}
        {% for categorylist in categories %}
        {% if categorylist.url_friendly_name == page.data.url_friendly_name %}
        <div class="category-title ">

            <h4>{{ categorylist.title }}
            </h4>
        </div>
        <div class="category-description">
          <p>{{ categorylist.description }}<p>
        </div>
        {% endif %}
        {% endfor %}
        <hr>
      </div>

      {% for post in site.data._models.blog %}
      {% if post.category.url_friendly_name == page.data.url_friendly_name %}
        <div class="post">
          <a href="/blog/{{ post.url_friendly_name }}/" class="blog-image">
            <figure class="background-cover" style="background-image:url('{{post.blogimage.url}}');" title="{{post.img_alt_txt}}">
            </figure>
          </a>
          <div class="blog-item-text">
            <h4 class="date">
              {% assign d = post.date | date: "%-d" %}
              {{ post.date | date: "%B" }}
              {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
              {{ post.date | date: "%Y" }}
            </h4>
            <a href="/blog/{{ post.url_friendly_name }}/" class="blog-title">
              <h3> {{ post.title }} </h3>
            </a>

            <p class="extra-links">
              {% if post.category.url_friendly_name %}
                <a class="link-button" href="/blog/category/{{post.category.url_friendly_name}}/"> {{ post.category.title }} </a>
              {% endif %} |
              <a class="primary-btn" href="/blog/{{ post.url_friendly_name }}/"> Discover more </a>
            </p>
            <div class="short-description">
              {{ post.short_description }}
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="blog-right-block">
      {% include blog-aside.html %}
    </div>
  </div>
</section>
