---
layout: default
---
{% assign seo_title = page.data.title %}

<div class="blog-banner" style="background-image: url('/assets/images/blog/blog-banner.jpg');">
     <h1>Blog</h1>
</div>

<section class="blog-container">
    <div class="blog-row">
        <div class="blog-col">
            {% for post in site.data._models.blog %} 
                {%if post.category.url_friendly_name == page.url_friendly_name %}
                    <div class="post">
                        <a href="/blog/{{ post.url_friendly_name }}/" class="blog-title mt-4"> 
                            <img src="{{post.blogimage.url}}" class="img-responsive main-hero listing-img" alt="{{post.img_alt_txt}}"> </a>
                        <div class="blog-item-text">                    
                            <a href="/blog/{{ post.url_friendly_name }}/" class="blog-title mt-4">
                                <h2> {{post.title}} </h2>
                            </a>
                            <div class="info">
                                <p>
                                    <span class="date">{% assign d = post.date | date: "%-d" %}
                                        {{ post.date | date: "%B" }}
                                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}<sup>th</sup>{% endcase %},
                                        {{ post.date | date: "%Y" }} </span>
                                        {% if blog.category.url_friendly_name %} | <span class="categories"><a href="/blog/category/{{post.category.url_friendly_name}}/">{{post.category.title}}</a></span>
                                        {% endif %}
                                </p>
                            </div>
                            <div class="short-description">                        
                                {{post.short_description}}  
                            </div>
                            <a class="link-text black mb-4" href="/blog/{{ post.url_friendly_name }}/"> Read more </a>
                        </div>    
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                {% endif %}    
            {% endfor %}    
        </div>
        <div class="blog-right-block">
            {% include blog-aside.html %}
        </div>
    </div>
</section>

