---
layout: default
---

<section class="inner-banner without-text background-cover" style="background-image: url('/assets/images/offers/offer-hero.jpg');">
</section>

<div class="inner-nav">
  <a class="active" href="" title="Standard">Advanced Purchase</a>
  <a href="">Bed & Breakfast</a>
  <a href="">Parking</a>
  <a href="">California Resident</a>
  <a href="">Night Owl</a>
  <a href="">Government Rate</a>
  <a href="">AAA/AARP</a>
  <a href="">Casual Unwind</a>
</div>

<section class="details-wrapper align-items-center">
  <div class="tag-line-text">
    <p>01 Premier View Queen</p>
  </div>
  <div class="details">
    <div class="room-info">
      <a class="back-btn" href="/rooms/"><i class="fas fa-arrow-left"></i> Back To Offers</a>
      <h4>Save Up To <span>15% Off</span></h4>
      <h3>ADVANCED PURCHASE RATE 15%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
      <div>
        <a class="primary-btn" href="/contact/">Contact Us</a>
      </div>
      <a class="secondary-btn" href="/">Book This Offer</a>
    </div>
  </div>
  <div class="image-slider">
  <div class="carousel-nav white">
    <a class="carousel-control-prev" href="#roomsCarousel" role="button" data-slide="prev">
    <i class="fas fa-caret-left"></i>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#roomsCarousel" role="button" data-slide="next">
    <i class="fas fa-caret-right"></i>
    <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="roomsCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active background-cover" style="background-image:url('/assets/images/rooms/slide.jpg'); "></div>
      <div class="carousel-item background-cover" style="background-image:url('/assets/images/rooms/slide.jpg');"></div>
    </div>
  </div>
</section>

<section class="gallery-sec">
  <div class="gallery-sec-inner">
    <div class="img-sec background-cover" style="background-image: url('/assets/images/offers/gallery.jpg');">
    </div>
    <div class="content">
      <h3>Gallery</h3>
      <a href="/" class="primary-btn-inverse">See More</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <div class="tag-line-text">
      <p>Our Gallery</p>
    </div>
  </div>
</section>
