---
layout: default
---
{% assign promos = page %}
{% assign model = page %}

{% assign promo_seo_title = promos.promo_seo_title %}
<!-- Banner start here -->
<div class="inner-banner without-text background-cover" style="background-image:url({{promos.bannerimage.url}})">
  <div class="scroll-down bottom-up">
    <img src="/assets/images/scroll-down.png" class="img-fluid" alt="Scroll Down">
  </div>

</div>
<div class="promo-title">
<h4 class="text-white" tabindex="0"> {{promos.subtitle}}</h4>
<h3 class="text-white" tabindex="0"> {{promos.title}}</h3>
</div>
<!-- Promo start here -->
<section class="offers-carousel-main mb-5" id="scroll-to">
  <div class="offers-inner-carousel">
    <div class="tag-line-text">
      <p tabindex="0">{{promos.tagline}}</p>
    </div>
    <div class="details">
      <div class="offer-info" tabindex="0">
        <a class="back-btn">{{promos.subtitle}}</a>
        {{promos.promocontent}}
        <div>
          <a class="secondary-btn" target="_blank" href="{{promos.promolink}}">
          {{promos.button_label1}}
        </a>
        </div>
        {% if promos.button_label2 and promos.button_label2 != "" %}
          <a class="secondary-btn" target="_blank" href="{{promos.second_promolink}}">
            {{promos.button_label2}}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="image-slider background-cover" style="background-image:url('{{promos.promoimage.url}}');">
    </div>
  </div>
</section>

{% include special-offers.html %}
